<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">Categories</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <div class="d-flex login">
      <button *ngIf="basketStatus" type="button" class="btn btn-outline-success me-2" routerLink="/basket">
        <i class="fas fa-shopping-basket"></i> Basket
      </button>
    <div *ngIf="!loginService.isLoggedIn()">
      <button type="button" class="btn btn-link px-3 me-2" routerLink="/login">
        Login
      </button>
      
      <button type="button" class="btn btn-outline-primary me-3" routerLink="/registration">
        Sign up
      </button>
    </div>
    <div *ngIf="loginService.isLoggedIn()">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Profile
      </button>
      <div class="dropdown">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" routerLink="/favourites">Favourites</a></li>
          <li><button class="dropdown-item" (click)="loginService.logout()">Logout</button></li>
        </ul>
      </div>
    </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>