<body>
  <div>
    <h1>Categories</h1>
  </div>
  <div class="rows">
    <div *ngFor="let category of model">
      <div class="col mb-8">
        <div class="card">
          <img [src]="'/assets/images/categories/' + category.id + '.png'" class="card-img-top img" alt="Categories"/>
          <div class="card-body">
            <h5 class="card-title">{{category.nameOfCategory}}</h5>
            <p class="card-text">{{category.id}}</p>
            <a (click)="selectCategory(category.id)" routerLink="/categories/{{category.id}}" class="btn btn-primary">Let's go</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>


