<div>
        <div class="order-details">
            <ng-container *ngFor="let product of products">
              <div class="product-info">
                <div>Name: {{ product.name }}</div>
                <div>Price: {{ product.price }} $</div>
              </div>
            </ng-container>
            <div class="total-price">Total: {{ price.price }} $</div>
          </div>
    <form class="order-form">
    <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" [(ngModel)]="createOrderDto.address" required>
      </div>
    
    <div>
        <a class="btn btn-primary" routerLink="/tyfororder" (click)="createOrder()">YES SIR</a>
    </div>
    </form>
</div>