.basket {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width:fit-content;
    margin: 20px auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  p {
    font-weight: bold;
  }

  .btn-go-to-order {
    position: flex; /* Фиксированная позиция */
    bottom: 50%; /* Отступ от нижнего края */
    padding: 10px 20px; /* Поля кнопки */
    margin-left: 45%;
    background-color: #3498db; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убрать границы */
    border-radius: 5px; /* Скругление углов */
    text-decoration: none; /* Убрать подчеркивание ссылки */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
  }
  .btn-go-to-order:hover {
    background-color: #2980b9; /* Цвет фона при наведении */
  }

  .remove-form {
    margin-bottom: 10px; /* Отступ снизу */
  }
  
  /* Стили для поля ввода */
  .remove-form input[type="number"] {
    padding: 5px; /* Поля вокруг текста внутри поля ввода */
    margin-right: 10px; /* Отступ справа */
  }
  
  /* Стили для кнопки */
  .remove-form button {
    padding: 5px 10px; /* Размер кнопки */
    background-color: #ff0000; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    cursor: pointer; /* Изменяем курсор при наведении на кнопку */
  }
  
  /* Стили при наведении на кнопку */
  .remove-form button:hover {
    background-color: #cc0000; /* Цвет фона при наведении */
  }

  .remove-button {
    padding: 5px 10px; /* Размер кнопки */
    background-color: #ff0000; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границу */
    cursor: pointer; /* Изменяем курсор при наведении на кнопку */
    border-radius: 5px; /* Округление углов */
  }
  
  /* Стили при наведении на кнопку */
  .remove-button:hover {
    background-color: #cc0000; /* Цвет фона при наведении */
  }